.section-selection {
  ul {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: space-between;
    column-gap: 10px;

    li {
      width: 25%;
      background-color: $background-color__light;
      border: 2px solid $background-color;
      outline: 2px solid transparent;
      padding: 10px;
      text-align: center;
      border-radius: 10px;
      flex: 1;

      a {
        display: inline-block;
        width: 100%;
        color: $icon-color;

      }

      &._selected {

        outline: 2px solid $icon-color__selected;

        a {
          color: $icon-color__selected;
        }
      }
    }
  }
}