.post-list{
  list-style: none;
  padding: 0 10px;
  display: flex;
  flex-direction: column;
  li{
    position: relative;
    padding: 20px;
    background: $background-color__light;
    border-radius: 15px;
    box-sizing: border-box;
    margin-bottom: 10px;
    span{
      font-size: 12px;
    }
    button{
      position: absolute;
      bottom: 20px;
      right: 20px;
      padding: 10px 20px;
      border-radius: 5px;
      border: none;

      background: $background-color;
      svg{
        path{
          fill: $icon-color;
        }
      }
    }


  }
}